@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-zen-kaku-gothic-new), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 画像を高画質で表示 */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
